RewriteEngine on

RewriteRule ^$ - [R=410,L]

# Dotfiles setup script
RewriteRule ^cfg$ https://raw.githubusercontent.com/davejamesmiller/dotfiles/main/.dotfiles/cfg [R,L]

# Catch-all -> "Gone" page
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ - [R=410,L]

ErrorDocument 410 /410.html
